In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
prices = pd.read_csv('jaipur-modified-year.csv')

In [3]:
prices

      Unnamed: 0  month  day  maxtempC  mintempC  humidity  windspeedKmph
0              0      1    1        24        12        31              6
1              1      1    1        24        12        31              7
2              2      1    1        24        12        32              7
3              3      1    1        24        12        33              6
4              4      1    1        24        12        34              6
...          ...    ...  ...       ...       ...       ...            ...
8777        8777      1    1        19         8        58             18
8778        8778      1    1        19         8        61             18
8779        8779      1    1        19         8        64             18
8780        8780      1    1        19         8        66             18
8781        8781      1    1        19         8        68             18

[8782 rows x 7 columns]

In [4]:
prices.columns

Index(['Unnamed: 0', 'month', 'day', 'maxtempC', 'mintempC', 'humidity',
       'windspeedKmph'],
      dtype='object')

In [6]:
df = pd.read_csv("pune-modified-year.csv")
X = df[["month","day"]]
y = df["maxtempC"]

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [9]:
from sklearn.tree import DecisionTreeRegressor

In [22]:
dtree = DecisionTreeRegressor(max_depth=2)

In [23]:
dtree.fit(X_train,y_train)

DecisionTreeRegressor(max_depth=2)

In [24]:
predictions = dtree.predict(X_train)

In [25]:
from sklearn.metrics import mean_absolute_error

In [26]:
mean_absolute_error(y_train,predictions)

2.058399045150484